<head>
</head>
<body>
  <form id="search-form">
    <input type="search" placeholder="search"></input>
    <button type="submit">Search</button>
  </form>
  <ol>
    <% bios.each do |bio| %>
      <li>
        <article data-bio-id="<%= bio.id %>">
          <header>
            <h2 data-field="name"><%= bio.name %></h2>
          </header>

          <section data-field="body">
            <%= simple_format bio.body %>
          </section>
        </article>
      </li>
    <% end %>
  </ol>
  <script src="/build/index.js"></script>
</body>
