<head>
  <link href="main.css" rel="stylesheet"></link>
</head>
<body>
  <div class="content">
    <form id="search-form">
      <input type="search" placeholder="search"></input>
      <div class="query-error"></div>
      <div class="controls">
        <button type="submit">Search</button>
        <button type="reset">Reset</button>
      </div>
    </form>
    <ol>
      <% bios.each do |bio| %>
        <li data-bio-id="<%= bio.id %>">
          <article>
            <header>
              <h2 data-field="name"><%= bio.name %></h2>
            </header>

            <section data-field="body">
              <p><%= bio.body %></p>
            </section>
          </article>
        </li>
      <% end %>
    </ol>
   </div>
  <script src="index.js"></script>
</body>
